# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/terraform.tfvars
infra/terraform/*.auto.tfvars
infra/terraform/crash.log
infra/terraform/override.tf
infra/terraform/override.tf.json

# OS
.DS_Store

# Claude Directories
.claude
